/* TESTIMONIAL CARDS */
.testimonials {
    padding: 1rem 5rem 4rem 5rem;
    animation-duration: 0.33s;
    animation-timing-function: ease-in-out;
    animation-name: slideDownFade;
    background-color: #495e57;
  }
  .testimonials-details {
    font-family: 'Markazi Text', serif;
    font-weight: 800;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 0em 0em 1.5em 0em;
  }
  
  .testimonials-topbar > h1 {
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0 1rem 0;
    color: #f4ce14;
  }
  
  .testimonials-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
    align-items: center;
  }
  
  .testimonial-card {
    background-color: #edefee;
    padding: 1rem 1rem 0 1rem;
  }
  
  .testimonial-card > img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 50%;
    background-color: #fff;
  }
  
  .testimonials-carousel {
    display: none;
  }
  
  .specials-carousel {
    margin: 0 2rem 0 2rem;
  }
  .testimonials-stars{
    margin: 0.5rem 0;
    display: flex;
  }

  .testimonials-stars img{
    width: 10px;
    height: 10px;
}

  @media (min-width: 768px){
  .testimonials-stars img{
      width: 20px;
      height: 20px;
  }
}

  /* MEDIA QUERIES*/
@media screen and (max-width: 60rem) {

  .testimonials-topbar > h1 {
    margin: 2rem 0 1rem 0;
  }
}

@media screen and (max-width: 50rem) {
    
      .testimonials-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    
      .testimonial-card > p {
        margin-top: -1rem;
        margin-bottom: 2.5rem;
      }
    }

    @media screen and (max-width: 600px) {
        .testimonials {
            padding: 0 2rem 0 2rem;
          }
    }
    @keyframes slideDownFade {
        0% {
          transform: translateY(-15%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      
      .carousel > .thumbs-wrapper {
        display: none;
      }