/* SPECIALS */
.specials {
    height: 100%;
    padding: 6rem 2rem;
  }
  
  .specials-header {
    display: grid;
    place-items: center;
  }
  
  .specials-title {
    font-weight: 500;
    font-size: 30px;
    color: #495e57;
    margin-bottom: 1rem;
  }
  
  .menu-button {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    background-color: #495e57;
    color: #f4ce14;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 200px;
    font-size: 1em;
    border: none;
  }
  
  @media (min-width: 768px) {
    .specials {
      padding: 1rem 1rem;
    }
  
    .specials-title {
      font-size: 64px;
    }
  }
  
  @media (min-width: 1024px) {
    .specials {
      /* height: 100vh; */
      padding: 4rem 4rem;
    }
  
    .specials-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1440px) {
    .specials {
      padding: 10rem 16rem;
    }
  }
  


  /* CARDS STYLE */
  .card-list {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  
  .card-container {
    font-family: 'Karla', 'sans-serif';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #f4f4f4;
    margin: 25px 5px 25px 0px;
    border-radius: 1rem 1rem 0 0;
    color: #333;
  }
  
  .specials-image-container {
    width: 250px;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
  }
  
  .specials-image {
    object-fit: cover;
    height: 250px;
  }
  
  .specials-name {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
  }
  
  .specials-price {
    color: #ee9972;
  }
  .specials-details {
    padding: 1rem;
  }
  
  .specials-description {
    height: 110px;
    padding: 10px 0;
  }
  
  .specials-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .card-list {
      grid-template-columns: repeat(3, 1fr);
      display: grid;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 1024px) {
    .card-container {
      width: 350px;
    }
  
    .specials-image-container {
      width: 350px;
    }
  
    .specials-image {
      height: 300px;
    }
  }
  
  @media (min-width: 1440px) {
    .card-list {
      grid-template-columns: repeat(3, 1fr);
      display: flex;
      justify-content: space-between;
    }
  
    .card-container {
      width: 250px;
    }
  
    .specials-image-container {
      width: 250px;
    }
  
    .specials-image {
      height: 200px;
    }
  }
  
  @media (min-width: 1728px) {
    .card-container {
      width: 400px;
    }
  
    .specials-image-container {
      width: 400px;
    }
  
    .specials-image {
      height: 350px;
    }
  }
  